body {
    background-color: #f2f2f2;
    padding: 0px;
    margin: 0px;
}


/* Start login page  */
.div-form {
    width: 25%;
    margin: auto;
    border: 1px solid #999999;
    border-radius: 2%;
    margin-top: 100px;
}

.div-form h4{
    margin: 10px;
}

.div-form .form-header {
    background-color: #ccc;
    border-bottom: 1px solid 1px solid #999999;
    overflow: hidden;
    border: none;
    border-radius: 2%;
}

.div-form .form-content{
    padding: 10px;
    background-color: #ffffff;
}

.div-form .item-form input {
    width: 95%;
    padding: 8px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.div-form input:focus {
    color: #4b515d;
    border: 1px solid #ff9999;
    box-shadow: inset 1px 2px 4px #ffd6cc, 3px 3px 8px #ffd6cc;
    outline: none;
}

.div-form #submit input {
    width: 99%;
    background-color: #5cd65c;
    color: #ffffff;
    font-weight: 500;
}

.div-form #submit input:focus {
    border: 1px solid #47d147;
    box-shadow: inset 1px 2px 4px #99e699, 3px 3px 8px #99e699;
}

.div-form a {
    text-decoration: none;
}

/* Enf login page */

/* Start Register page */
/* End  Register page */

/* Start Admin Page */

.admin-page .header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #bfbfbf;
    overflow: hidden;
}

.admin-page .header p {
    float: left;
    margin-left: 20px;
    font-size: 20px;
}
.admin-page .header .infor {
    float: right;
}

.admin-page .header .infor ul li {
    display: inline-block;
}

.admin-page .header .dropdown-infor {
    display: none;
    border: 1px solid #b3b3b3;
    box-shadow: inset 1px 2px 4px #e6e6e6, 3px 3px 8px #e6e6e6;
    background-color: #ffffff;
    padding-right: 20px;
    position: relative;
}

.admin-page .header .infor:hover {
    background-color: #cccccc;
}

.admin-page .header .infor:hover .dropdown-infor {
    display: block;
    position: absolute;
    margin-left: -140px;
    margin-top: 23px;
}

.admin-page .header ul {
    list-style-type: none;
}

.admin-page .header ul li {
    padding: 5px;
}

.admin-page .header .dropdown-infor a {
    text-decoration: none;
}

.admin-page .content .left-menu {
    width: 20%;
    float: left;
}

.admin-page .content .left-menu .search {
    border-bottom: 1px solid #b3b3b3;
    padding: 10px;
}

.admin-page .content .left-menu .search i {
    margin-left: -25px;
}
.admin-page .content .left-menu .search input:focus {
    outline: none;
    border: 1px solid #66b3ff;
    box-shadow: inset 1px 2px 4px #b3d9ff, 3px 3px 8px #b3d9ff;
}

.admin-page .content .left-menu input {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.admin-page .content .left-menu li.active{
    background-color: #b3b3b3;
}

.admin-page .content .left-menu ul {
    list-style-type: none;
    padding: 0px;
}

.admin-page .content .left-menu ul li{
    padding: 20px 10px 20px 35px;
}

.admin-page .content .left-menu a {
    text-decoration: none;
}

.admin-page .content .right-content {
    width: 75%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
    border-left: 1px solid #b3b3b3;
}

.admin-page .content .right-content input:focus {
    outline: none;
    border: 1px solid #b3b3b3;
    box-shadow: inset 1px 2px 4px #d9d9d9, 3px 3px 8px #d9d9d9;
}

.admin-page .content .right-content textarea:focus {
    outline: none;
    border: 1px solid #b3b3b3;
    box-shadow: inset 1px 2px 4px #d9d9d9, 3px 3px 8px #d9d9d9;
}

.admin-page .content .right-content h2 {
    margin: 0px 0px 30px 0px;
}

.admin-page .content .right-content .frm-content {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

.admin-page .content .right-content .frm-content .title {
    border-bottom: 1px solid #b3b3b3;
    background-color: #f2f2f2;
    padding-left: 20px;
    overflow: hidden;
}

.admin-page .content .right-content .frm-content form {
    padding: 20px;
}
.admin-page .content .right-content input {
    padding: 8px;
    width: 95%;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin: 5px;
}

.admin-page .content .right-content textarea {
    padding: 8px;
    width: 95%;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin: 5px;
}

.admin-page .content .right-content button {
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin-right: 20px;
}

/* End Admin Page */

/* Start View content page */

.view-content .content .tbl-view{
    border-collapse: collapse;
    border: 1px solid #b3b3b3;
    width: 95%;
    table-layout: auto;
    margin: 30px 20px 20px 20px;
    overflow: hidden;
}

.view-content .content .tbl-view tbody tr.tr-color {
    background-color: #f2f2f2;
}

.view-content .content .tbl-view th {
    padding: 15px;
    background-color: #cccccc;

}
.view-content .content .tbl-view td {
    padding: 10px;
}

.view-content .content .tbl-view tbody tr:hover{
    background-color: #fff2e6;
}
/* End View content page */
